*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav{
    display: none;
    width: 100%;
    height: 60px;
}

.menu{
    width: 100%;
    height: 60px;
    background: black;
    display: none;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    /* float*/
    z-index: 1;
    position: fixed;
}

.elemento{
    padding: 0 3px;
    height: auto;
}

p{
    font-size: 2rem;
}

a, .contact{
    text-decoration: none;
    font-size: 1.5rem;
    color: white;

}

@media screen and (max-width: 850px){
    .nav{
        display: block;
    }

    
    .menu{
        width: 70%;
        height: 100%;
        background: black;
        z-index: 1;
        position: fixed;
        float: left;
        flex-direction: column;
        align-content: space-around;
    }

    li{
        justify-self: flex-start;
        width: 100%;
    }

    a{
        font-size: 2rem;
    }

    span{
        font-size: 2.5rem;
    }
}