*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    display: none;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.452);
}
.contenidoModal{
    position: relative;
    background-color: #fefefe;
    width: 70%;
    height: 70%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .4);
    animation-name: modal;
    animation-duration: 1s;
}

.contenidoModal img {
    height: 90%;
    width: 90%;
    border: 3px solid white ;
    border-radius: 10px;
}

@keyframes modal{
    from{top: -330px; opacity: 0;}
    to{top: 0; opacity: 1;}
}

.close{
    float: right;
    cursor: pointer;
    color: red;
    font-size: 30px;
    font-weight: bold;
    border-radius: 30px;
}
.close:hover{
    color: #7f8c8d;
    text-decoration: none;
}

p{
    text-align: center;
}

.modal-body{
    pad: 20px 16px;
}

@media screen and(max-width:900px){
    .contenido-modal{
        width: 70%;
    }
    .textos{
        padding: 150px;
    }
}

@media screen and(max-width:768px){

    .textos{
        padding: 50px;
    }
}