    .btn{
        display: none;        
    }
@media screen and (max-width: 850px){
    .btn{
        display: block;
        border-radius: 5px;
        height: 32px;
        width: 32px;
        margin: 0.5rem;
        z-index: 3;
        position: fixed;
        float: left;
        color:white;
        }
    .btn svg{
        height: 40%;
    }
    
}
