.root {
    width: auto;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: scroll;
    background-color: white;
  }

  .gridList {
    height: 10rem;
    width: 8rem;
    border-rAdius:'50px';
  }

  @media screen and (max-width:768px){
    .root{
        width: 65vh;
        overflow: scroll;
    }    
  }