@font-face {
  font-family: "Blackflag";
  src: url(./fuentes/BlackFlag.ttf) format("truetype");
}
@font-face {
  font-family: "Vintage-punk";
  src: url(./fuentes/Vintage-punk.ttf) format("truetype");
}
@font-face {
  font-family: "Seagram";
  src: url(./fuentes/Seagram.ttf) format("truetype");
}
body{
  background: white;
  padding: 0;
  margin: 0;
  width: 100%;
}

p{
  font-family: 'Blackflag';
  font-size: 4rem;
  color:white;
}
#galeria{
  color: black;
}

article{
  font-family: 'Seagram';
  font-size: 4rem;
  color: blue;
}

.menu{
  display: inline-flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}
@media screen and (max-width: 720px){
  body{
    width: 100vh;
  }
}